@use '../../styles/global.scss' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


  .mainNav {
    background-color: #fff;
    color: white;
    min-height: 169px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 12px $mobile-spacing 0 $mobile-spacing;
    
    &__logo {
        height: 25px;
        width: 100%;
    }
    &__form {
        padding-top: 2px;
    }
    &__search-input {
        background-image: url(../../assets/Icons/Icon-search.svg);
        background-position: 12px;
        background-repeat: no-repeat;
        min-width: 100%;
        margin-bottom: 0;
        &::placeholder {
            padding-left: 25px;
            
        }
    }  
    &__button {
        width: 75%;
       margin-top: 8px;
       position: relative;
        &:hover {
          background-color: $blue-hover;
        }
     
      &::before {
          background-image: url(../../assets/Icons/Icon-upload.svg);
          z-index: 5;
          position: absolute;
          background-repeat: no-repeat;
          
        }
     } 
    &__avatar {
      background-image: url(../../assets/Images/Mohan-muruge.jpg);
      @include background-img;
      border-radius: 50%;
      background-position: left;
      margin: 0 0 -19px 20px;
      height: 48px;
      width: 48px;
      display: inline-block;
    }
    
  }
 