// @use '../../styles/global.scss' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.post {
    // margin-bottom: 10px;
    padding: $mobile-spacing;

    &__header {
        border-bottom: 1px solid $grey-med;
        &--title {
            font-size: 1.5em;
        }
        &--subtitle {
            font-weight: 600;
            margin-top: 6px;
        }
    }
    &__content {
        line-height: 20px;
    }
    
}