@use '../../styles/global.scss' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.hero {
    background-image: url(https://i.imgur.com/l2Xfgpl.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 183px;
    width: 100%;
    margin-top: 0;
}