@use '../../styles/global.scss' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.hero {
    background-color: #000;  
    &__video {
        height: 183px;
        width: 100% !important;
        margin: 0 0 0.5*$mobile-spacing 0;
        padding: 0;
        object-fit: cover;
        display: block;
        &::-webkit-media-controls-current-time-display {
            display: none;
        }        
        @include tablet {
            max-width: 700px;
            height: 400px; 
            margin: auto;
        }
    }
}

